fieldset, .toolbar {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 1em;
    margin: 2em 0;
}
.toolbar {
    text-align: center;
    
}

.field {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    line-height: 2em;
}


.field input, .field select, .field textarea {
    width: 70%;
    line-height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
.field label {
    width: 30%;
}
.field select {
    width: 100%;
}
.field + .field {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.field textarea {
    width: 100%;
    resize: vertical;
}
.submit-button {
    padding: 1em 2em;
    color: #FFF;
    background-color: #DD5735;
    border: 2px solid #DD5735;
    border-radius: 0.5em;
    cursor: pointer;
}

.submit-button:hover {
    background-color: white;
    color: #DD5735;
}
