.solid {
    border:solid 5px purple;
}

.dotted{
    border: dotted 5px red;
}


.dashed {
    border: dashed 5px green;
}

.double {
    border:double 5px pink;
}

.gauche {
    border-left: solid 5px orange;
}
.arrondi {
    border: solid 5px yellow;
    border-radius : 10px;
}

img {
    border-radius: 100%;
    height:10em;
    width:10em;
    
}

ul {
    list-style-type: none;
}
li {
    padding:7px;
}