.fleche:hover {
    transform: rotate(360deg);
}

.fleche {
    transform: rotate(90deg);
}


/***scale*************/

.ring {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 3px solid red;
    text-align: center;
    vertical-align: top;
    
    

}



.ordi {
  
  transform: scale(0.5);
  position: relative;
    
}
.text{
    
}
